<h1>141B Lab 2: Pythonic things</h1>
In this lab, you will add python code to the empty cells according to the instructions.  Tests with the intended output are included so that you can check your progress.

Exercise 1. create a function that takes a character as an argument, if it is 'a' then return 'A' otherwise return the original character. f('a') = 'A' and f(x) = x for all other x.

In [72]:
def f(x):
    if x == 'a':
        return('A')
    else:
        return(x)

In [73]:
#Tests function
print(f('a'))
print(f('b'))

A
b

<ul>
<li>Using a list comprehension, apply f to each element of 'banana' and return a list of characters.</li>
<li>Try to do the same thing with the map function.</li>
<li>Using ''.join concatenate the characters in the list to make a string (the result should be 'bAnAnA').</li>
</ul>

In [20]:
[f(c) for c in "banana"]

['b', 'A', 'n', 'A', 'n', 'A']

In [21]:
map(f, 'banana')

['b', 'A', 'n', 'A', 'n', 'A']

In [24]:
''.join(map(f,'banana'))

'bAnAnA'

Exercise 2. Sum the first 100 numbers in a for loop.

In [25]:
total = 0
for i in range(0,101):
    total += i
print(total)

5050

Sum the first 100 numbers, but using a generator expression.

In [30]:
sum(i for i in range(0,101))

5050

Using a generator expression sum the square of the first 100 numbers.

In [31]:
sum(x*x for x in range(101))

338350

Exercise 3. Let's create the Fibonacci sequence.  Start a list $Fib$ of where the first elements are 1,1, and follow the relation that
$$Fib[i] = Fib[i-1] + Fib[i-2]$$
Generate the Fibonacci numbers less than 1000 and store it in a list.

In [67]:
#Initial values
Fib = [1,1]
#Function to calculate
calcFib = lambda i: Fib[i-1] + Fib[i-2]
#Iniate which fib number we are on
i = 2
#While fib less than 1000, add to Fib sequence
while calcFib(i) < 1000:
    Fib = Fib + [calcFib(i)]
    i += 1

In [68]:
print Fib

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

Exercise 4. Create a function called addone that does the following depending on the type of the input.  
<ul>
<li>Integer: add 1</li>
<li>Float: add 1.0</li>
<li>String: take the last character and increment the character to the next character in alphabetical order using ord and chr.</li>
</ul>

In [74]:
def addone(x):
    if (type(x) == int):
        x = x + 1
    elif(type(x) == float):
        x = x + 1.0
    else:
        x = x[:-1] + chr(ord(x[-1]) + 1)
    return(x)

In [75]:
print addone('bonfire'), addone(1), addone(3.2)

bonfirf 2 4.2

Exercise 5. Create a function called commarem that removes all commas from a string.  Try to make it so that it will run faster if there is no comma in it.  Below is a timing of these two different inputs.

In [76]:
def commarem(x):
    return(x.replace(',',''))

In [77]:
%timeit commarem('1300')

The slowest run took 9.92 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 3: 192 ns per loop

In [78]:
%timeit commarem('1,300')

The slowest run took 14.26 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 3: 217 ns per loop

Exercise 6. Create a set of the 5 lower case vowels and the set of 21 lower case consonants by removing the set of vowels from the alphabet.

In [5]:
#Vowels
vowels = set(['a','e','i','o','u'])
#Alphabet
alphabet = set([chr(i) for i in range(ord('a'),ord('z')+1)])
#Set difference
consonants = alphabet - vowels
consonants

{'b',
 'c',
 'd',
 'f',
 'g',
 'h',
 'j',
 'k',
 'l',
 'm',
 'n',
 'p',
 'q',
 'r',
 's',
 't',
 'v',
 'w',
 'x',
 'y',
 'z'}

Create a function called newletters that takes a string, s, and returns a list of strings formed by appending a new character to s, with the provision that that character must be a vowel if the last letter of s is a consonant and must be a consonant if the last letter of s is a vowel.

In [6]:
def newletters(s):    
    if s[-1] in vowels:
        return([s + c for c in consonants])
    else :
        return([s + c for c in vowels])

In [7]:
newletters('banan')

['banana', 'banani', 'banane', 'bananu', 'banano']

In [8]:
words = ['hamburge','chicke','hotdog','rubarb','tahini']

For the words list above, using a generator expression, create a dictionary with the keys being the elements of words and the items being newletters applied to the key.

In [11]:
newwords = dict((w, newletters(w)) for w in words)

{'chicke': ['chickec',
  'chickeb',
  'chicked',
  'chickeg',
  'chickef',
  'chickeh',
  'chickek',
  'chickej',
  'chickem',
  'chickel',
  'chicken',
  'chickeq',
  'chickep',
  'chickes',
  'chicker',
  'chicket',
  'chickew',
  'chickev',
  'chickey',
  'chickex',
  'chickez'],
 'hamburge': ['hamburgec',
  'hamburgeb',
  'hamburged',
  'hamburgeg',
  'hamburgef',
  'hamburgeh',
  'hamburgek',
  'hamburgej',
  'hamburgem',
  'hamburgel',
  'hamburgen',
  'hamburgeq',
  'hamburgep',
  'hamburges',
  'hamburger',
  'hamburget',
  'hamburgew',
  'hamburgev',
  'hamburgey',
  'hamburgex',
  'hamburgez'],
 'hotdog': ['hotdoga', 'hotdogi', 'hotdoge', 'hotdogu', 'hotdogo'],
 'rubarb': ['rubarba', 'rubarbi', 'rubarbe', 'rubarbu', 'rubarbo'],
 'tahini': ['tahinic',
  'tahinib',
  'tahinid',
  'tahinig',
  'tahinif',
  'tahinih',
  'tahinik',
  'tahinij',
  'tahinim',
  'tahinil',
  'tahinin',
  'tahiniq',
  'tahinip',
  'tahinis',
  'tahinir',
  'tahinit',
  'tahiniw',
  'tahiniv',
  'tahiniy',
  'tahinix',
  'tahiniz']}

In [90]:
newwords['hotdog']

['hotdoga', 'hotdogi', 'hotdoge', 'hotdogu', 'hotdogo']